.angular-logo {
  width: 100%;
  max-width: 8rem;
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  padding-top: 5.875rem;
}
