/* .bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 2rem;
  padding: 1rem;
} */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
